body {
    /* text-align: center; */
    padding: 7px;
}

p {
    text-align: left;
    background-color: #f0f1f2;
    border-radius: 5px;
    padding: 10px;
}

.phishlogo {
    padding-left: 3px;
    padding-right: 5px;
    height: 25px;
}

.emailContentDiv {
    max-height: 170px;
    overflow-y: scroll;
}

/* ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */