body {
    padding: 7px;
}

p {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
}

.phishlogo {
    padding-left: 3px;
    padding-right: 5px;
    height: 25px;
}

.emailContentDiv {
    background-color: #f0f1f2;
    max-height: 170px;
    overflow-y: scroll;
    border-radius: 5px;
    margin-bottom: 20px;
    min-height: 130px;
}

button {
    bottom: 5px;
    position: fixed;
    width: 15%;
    height: 7%;
    right: 42.5%;
    background-color: #33b249;
    color: white;
    border: none;
}

button:hover {
    scale: 1.04;
    font-weight: bold;
}

/*FOR PERSISTENT SCROLLBAR 
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */